.container {
    width:100vw;
    height: 100vh;
    background-color: black;
    flex:1;
}

.gameWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.gridBoard {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}

.gridBoard:focus {
    outline: none;
}

.gridCell {
  outline: 1px solid grey;
  width: 25px;
  height: 25px;
}

.gridFoodCell {
    background-color: red;
    outline: 1px solid grey;
    width: 25px;
    height: 25px;
}

.gridSnakeCell {
  background-color: green;
  outline: 1px solid grey;
  width: 25px;
  height: 25px;
}

.button {
  width: 300px;
  height: 100px;
  margin: auto auto;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 1000;
  background-color: rgba(255,255,255,1);
  cursor: pointer;
  border: none;
  outline: none;
}

.button:hover {
  background-color: rgba(255,255,255,0.6);

}

.scoreBoard {
  width: 300px;
  height: 100px;
  background-color: purple;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.scoreNumber {
  font-size: 30px;
  font-weight: 1000;
  color: white;
  border: none;
  outline: none;
}

.footerText {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  bottom: 5;
  margin-left: auto;
  margin-right: auto;
  color: white;
}